* {

    line-height:normal;
    display:flexbox;
    flex-wrap: wrap;
    align-items: center;
}

.homepage-title {

    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    background-color:darksalmon;
    text-align: center;
    display:flexbox;
}

.homepage {

    border-color: antiquewhite;
    border-style: solid;
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
    
}

.recipe-card {

    /* align-items: center;
    align-self: center; */
    /* border: 3px red; */
    /* block-size: 100%; */
    width: 300px;
    /* border-style: solid; */
    padding: 1%;
    text-size-adjust:inherit;
    display: inline-block;
    flex-wrap: wrap;
}

.card-image {

    width:100%;
    height: auto;
    /* border-style:solid; */
    /* border-color: white;
    border-radius: 10px; */

}
.geral-page-default-layout {

    /* border-style: solid;
    border-color: blueviolet; */
    display:block;
    background-color:rgba(255, 200, 0, 0.236);
}
.recipe-page {

    /* background-color:rgba(255, 200, 0, 0.236); */
    box-sizing: border-box;
    width: 75%;
    padding: 5%;
    text-wrap:wrap;
    /* display: flex; */
    /* flex-direction:row; */


}
.recipe-description {
    font-size: 16px;
    font-weight: lighter;
}

.recipe-title {
    color: rgb(186, 104, 46); 
    font-size: 50px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align:center;
    display:contents;
    text-shadow:
    1px 1px 1px red,
    2px 2px 1px red;
   
}
.piclasagna {
    width: 230px;;
    height: auto;
    display: block;
 }

